.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.phrase {
    font-size: 15px;
    line-height: 19px;
    font-weight: bold;
    letter-spacing: -0.5px;
}

.logo {
    margin-bottom: 114px;
}

.login_form {
    box-sizing: border-box;
    width: 100%;
    max-width: 385px;
    padding: 0 20px;
}

.link_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    font-size: 15px;
    line-height: 20px;
    text-underline-offset: 3px;
}

.find_pw_link {
    color: #b8b8b8;
    text-decoration: underline;
}

.signup_link {
    color: #636363;
    text-decoration: underline;
}