.button {
    width: 100%;
    min-height: 74px;
    color: white;
    border: 1px solid #E5E5E5;
    border-radius: 37px;
    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}