@use '../../../styles/utils/mixins' as mixin;

.input_wrap {
    @include mixin.placeholder {
        color: #B8B8B8;
        font-size: 20px;
    }
}

.input {
    box-sizing: border-box;
    width: 100%;
    min-height: 74px;
    border-radius: 37px;
    border: 1px solid #E5E5E5;
    text-indent: 20px;
    font-size: 20px;
}